/* accordion */
.mceContentBody .panel-group:before {
    font-family: monospace;
    font-size: 8px;
    content: "accordion";
}

.mceContentBody .panel .panel-title:before {
    font-family: monospace;
    font-size: 16px;
    content: "▶ ";
}

.mceContentBody .panel:first-child .panel-title:before {
    font-family: monospace;
    font-size: 16px;
    content: "▼ " !important;
}

.mceContentBody .panel-heading {
    border-top: 1px dashed red !important;
}
.mceContentBody .panel-heading:not(:last-child) {
    border-bottom: 1px dashed red !important;
}

.mceContentBody .panel-title a {
    border-bottom: none !important;
}

.mceContentBody .collapse {
    display: block;
}

.mceContentBody .panel-group {
    display: inherit;
    border: thin dashed red;
}

.mceContentBody .panel-heading {
    display: inherit;
    border: thin dashed red;
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}

.mceContentBody .panel-title {
    color: inherit;
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
}

.mceContentBody .panel-body {
    padding: 15px;
}

.mce_accordion {
    background: url('++resource++collective.sweeteditor.js/accordion/img/accordion.gif') !important;
}

.mce_accordion-delete {
    background: url('++resource++collective.sweeteditor.js/accordion/img/accordion-delete.gif') !important;
}

.mce_accordion-item-delete {
    background: url('++resource++collective.sweeteditor.js/accordion/img/accordion-item-delete.gif') !important;
}

.mce_accordion-item-insert-after {
    background: url('++resource++collective.sweeteditor.js/accordion/img/accordion-item-insert-after.gif') !important;
}

.mce_accordion-item-insert-before {
    background: url('++resource++collective.sweeteditor.js/accordion/img/accordion-item-insert-before.gif') !important;
}

/* collapsable */
.mceContentBody .panel-group.sweet-collapsable:before {
    font-family: monospace;
    font-size: 8px;
    content: "collapsable";
}
