/* accordion */
.mceContentBody .panel-group:before {
    font-family: monospace;
    font-size: 8px;
    content: "accordion";
}

.mceContentBody .panel .panel-title:before {
    font-family: monospace;
    font-size: 16px;
    content: "▶ ";
}

.mceContentBody .panel:first-child .panel-title:before {
    font-family: monospace;
    font-size: 16px;
    content: "▼ " !important;
}

.mceContentBody .collapse {
    display: block;
}

.mceContentBody .panel-group {
    display: inherit;
    border: thin dashed red;
}

.mceContentBody .panel-heading {
    display: inherit;
    border: thin dashed red;
}

.ploneSkin .mce_accordion {
    background: url('++resource++collective.sweeteditor.img/accordion.gif') !important;
}

.ploneSkin .mce_accordion-delete {
    background: url('++resource++collective.sweeteditor.img/accordion-delete.gif') !important;
}

.ploneSkin .mce_accordion-item-delete {
    background: url('++resource++collective.sweeteditor.img/accordion-item-delete.gif') !important;
}

.ploneSkin .mce_accordion-item-insert-after {
    background: url('++resource++collective.sweeteditor.img/accordion-item-insert-after.gif') !important;
}

.ploneSkin .mce_accordion-item-insert-before {
    background: url('++resource++collective.sweeteditor.img/accordion-item-insert-before.gif') !important;
}

/* expandable */
.collapsedHeading {
    cursor: hand;
    cursor: pointer;
}

.collapsedHeading.collapsed:before {
    content: "▶ ";
}

.collapsedHeading:before {
    font-family: monospace;
    font-size: 16px;
    content: "▼ ";
}

.collapsedHeading.collapsed + *{
    display:none;
}

.mceContentBody .collapsedHeading {
    display: inherit;
    border: thin dashed red;
}

.mceContentBody .collapsedBody {
    display: inherit;
    border: thin dashed red;
}
