/* accordion */
.mceContentBody .panel-group:before {
    font-family: monospace;
    font-size: 8px;
    content: "accordion";
}

.mceContentBody .panel .panel-title:before {
    font-family: monospace;
    font-size: 16px;
    content: "▶ ";
}

.mceContentBody .panel:first-child .panel-title:before {
    font-family: monospace;
    font-size: 16px;
    content: "▼ " !important;
}

.mceContentBody .collapse {
    display: block;
}

.mceContentBody .panel-group {
    display: inherit;
    border: thin dashed red;
}

.mceContentBody .panel-heading {
    display: inherit;
    border: thin dashed red;
}

.ploneSkin .mce_accordion {
    background: url('++resource++collective.sweeteditor.img/accordion.gif') !important;
}

.ploneSkin .mce_accordion-delete {
    background: url('++resource++collective.sweeteditor.img/accordion-delete.gif') !important;
}

.ploneSkin .mce_accordion-item-delete {
    background: url('++resource++collective.sweeteditor.img/accordion-item-delete.gif') !important;
}

.ploneSkin .mce_accordion-item-insert-after {
    background: url('++resource++collective.sweeteditor.img/accordion-item-insert-after.gif') !important;
}

.ploneSkin .mce_accordion-item-insert-before {
    background: url('++resource++collective.sweeteditor.img/accordion-item-insert-before.gif') !important;
}

/* tabs */
.mceContentBody .panel-group:before {
    font-family: monospace;
    font-size: 8px;
    content: "tabs";
}

.mceContentBody .panel .panel-title:before {
    font-family: monospace;
    font-size: 16px;
    content: "▶ ";
}

.mceContentBody .panel:first-child .panel-title:before {
    font-family: monospace;
    font-size: 16px;
    content: "▼ " !important;
}

.mceContentBody .collapse {
    display: block;
}

.mceContentBody .panel-group {
    display: inherit;
    border: thin dashed red;
}

.mceContentBody .panel-heading {
    display: inherit;
    border: thin dashed red;
}

.ploneSkin .mce_tabs {
    background: url('++resource++collective.sweeteditor.img/tabs.gif') !important;
}

.ploneSkin .mce_tabs-delete {
    background: url('++resource++collective.sweeteditor.img/tabs-delete.gif') !important;
}

.ploneSkin .mce_tabs-item-delete {
    background: url('++resource++collective.sweeteditor.img/tabs-item-delete.gif') !important;
}

.ploneSkin .mce_tabs-item-insert-after {
    background: url('++resource++collective.sweeteditor.img/tabs-item-insert-after.gif') !important;
}

.ploneSkin .mce_tabs-item-insert-before {
    background: url('++resource++collective.sweeteditor.img/tabs-item-insert-before.gif') !important;
}
