/* accordion */
.mceContentBody .panel-group:before {
    font-family: monospace;
    font-size: 8px;
    content: "accordion";
}

.mceContentBody .panel .panel-title:before {
    font-family: monospace;
    font-size: 16px;
    content: "▶ ";
}

.mceContentBody .panel:first-child .panel-title:before {
    font-family: monospace;
    font-size: 16px;
    content: "▼ " !important;
}

.mceContentBody .panel-group {
    display: inherit;
    border: thin dashed red;
}

.mceContentBody .panel {
    display: inherit;
    border: thin dashed red;
}

.mceContentBody .collapsedBody {
    display: inherit;
    border: thin dashed red;
}

/* expandable */
.collapsedHeading {
    cursor: hand;
    cursor: pointer;
}

.collapsedHeading.collapsed:before {
    content: "▶ ";
}

.collapsedHeading:before {
    font-family: monospace;
    font-size: 16px;
    content: "▼ ";
}

.collapsedHeading.collapsed + *{
    display:none;
}

.mceContentBody .collapsedHeading {
    display: inherit;
    border: thin dashed red;
}

.mceContentBody .collapsedBody {
    display: inherit;
    border: thin dashed red;
}
