/* tabs */

.mceContentBody .sweet-tabs:before {
    font-family: monospace;
    font-size: 8px;
    content: "tabs";
}
.mceContentBody .sweet-tabs {
    display: inherit;
    border: 1px dashed red;
}

.mceContentBody .sweet-tabs .nav-tabs {
    display: none;
}

.mceContentBody .sweet-tabs .tab-content {
    border-top: 1px dashed red !important;
}

.mceContentBody .sweet-tabs .mceTabHeader {
    border-bottom: 1px dashed red !important;
    padding-left: 18px;
}

.mceContentBody .sweet-tabs .mceTabHeader > a:before {
    font-family: monospace;
    font-size: 16px;
    content: "▶ ";
    color: black;
}

.mceContentBody .sweet-tabs .mceTabHeader.active > a:before {
    font-family: monospace;
    font-size: 16px;
    content: "▼ " !important;
    color: black;
}

.mceContentBody .sweet-tabs .tab-pane:not(:last-child) {
    display: inherit;
    border-bottom: 1px dashed red !important;
}

.mceContentBody .sweet-tabs .nav-tabs > li a,
.mceContentBody .sweet-tabs .nav-tabs > li a:hover,
.mceContentBody .sweet-tabs .nav-tabs > li.active a,
.mceContentBody .sweet-tabs .nav-tabs > li.active a:hover {
    border: none;
    background-color: inherit;
}

.mceContentBody .sweet-tabs .tab-content > .tab-pane {
    display: block;
    padding: 18px;
}

.mceContentBody .sweet-tabs ul.nav-tabs {
    border-bottom: none;
}

.mceContentBody .mceTabHeader {
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}
.mceContentBody .mceTabHeader a {
    font-family: monospace;
    font-size: 16px;
    border-bottom: medium none !important;
    background-color: transparent;
    color: #205c90 !important;
    text-decoration: none !important;
}

.mce_tabs {
    background: url('++resource++collective.sweeteditor.js/tabs/img/tabs.gif') !important;
}

.mce_tabs-delete {
    background: url('++resource++collective.sweeteditor.js/tabs/img/fa-eraser.png') !important;
}

.mce_tabs-item-delete {
    background: url('++resource++collective.sweeteditor.js/tabs/img/remove_bar.png') !important;
}

.mce_tabs-item-insert-after {
    background: url('++resource++collective.sweeteditor.js/tabs/img/fa-insert-right.png') !important;
}

.mce_tabs-item-insert-before {
    background: url('++resource++collective.sweeteditor.js/tabs/img/fa-insert-left.png') !important;
}
